<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /instalador/

    # Si es un archivo o directorio existente, no reescribir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescribir todo lo demás a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
